.pr-10 {
  padding-right: 10px;
}
.table th {
  text-align: center !important;
}
.table td {
  text-align: center !important;
}
.table thead {
  border-top: solid 2px rgb(229, 229, 229) !important;
}
.tabs li.is-active a {
  background-color: #3273dc !important;
  color: #fff;
}
.sticky {
  position: sticky;
  top: 0;
}

ol > li {
  padding-bottom: 10px;
}
